@{
    ViewData["Title"] = "Contact Page";
}

<!DOCTYPE html>
<html lang="zxx">

<head>
   
    
</head>

<body>
    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-text">
                        <h2>Contact Info</h2>
                        <p>
                           For More Information or any Concerns, Please feel free to contact us
                        </p>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="c-o">Address:</td>
                                    <td>Nile Horizon,Heliopolis. Cairo, Egypt </td>
                                </tr>
                                <tr>
                                    <td class="c-o">Phone:</td>
                                    <td>(02)1234567</td>
                                </tr>
                                <tr>
                                    <td class="c-o">Email:</td>
                                    <td>NileHorizon@gmail.com </td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-7 offset-lg-1">
                    <form action="#" class="contact-form">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Your Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Your Email">
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Your Message"></textarea>
                                <button type="submit">Submit Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3455.4575501264417!2d31.116698074614217!3d29.995015720912615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14584534984a8ad1%3A0x45764c5bc4ec261a!2sThe%20Grand%20Egyptian%20Museum!5e0!3m2!1sen!2sbd!4v1759506591581!5m2!1sen!2sbd"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
             
                  </div>
        </div>
    </section>
  
</body>

</html>