@page
@model Bookify.Web.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<h2>You have successfully logged out.</h2>
<meta http-equiv="refresh" content="1;url=/Home/Index" />
